<?xml version="1.0" encoding="utf-8"?>

<plugin id="sistepar-cordova-plugin-privatevar" version="1.0.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>Cordova Private Variable Plugin</name>
	<description>To get data sensitive from native code</description>
	<author>sistepar.com</author>
    <license>MIT Licence</license>
	<keywords>cordova,private,variable,var</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>
	
	<js-module src="www/privatevar.js" name="PrivateVar">
		<clobbers target="cordova.plugins.privatevar" />
	</js-module>
	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PrivateVar">
				<param name="android-package" value="com.sistepar.cordova.privatevar.PrivateVar"/>
			</feature>
		</config-file>

		<source-file src="src/android/PrivateVar.java" target-dir="src/com/sistepar/cordova/privatevar"/>
	</platform>

	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PrivateVar">
                <param name="ios-package" value="PrivateVar" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/PrivateVar.h" />
        <source-file src="src/ios/PrivateVar.m" />
    </platform>
</plugin>
